<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Map with Cities</title>
    <style>
        .map {
            position: relative;
            width: 800px;
            height: 500px;
            background: url('https://commons.wikimedia.org/wiki/File:USA_edcp_location_map_lite.svg') no-repeat center;
            background-size: contain;
        }
        .city {
            position: absolute;
            color: red;
            font-size: 12px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>US Map with Cities</h1>
    <div class="map">
        <div class="city" style="left: 550px; top: 360px;">Atlanta</div>
        <div class="city" style="left: 750px; top: 150px;">Boston</div>
        <div class="city" style="left: 150px; top: 50px;">Calgary</div>
        <div class="city" style="left: 580px; top: 400px;">Charleston</div>
        <div class="city" style="left: 500px; top: 200px;">Chicago</div>
        <div class="city" style="left: 400px; top: 300px;">Dallas</div>
        <div class="city" style="left: 350px; top: 200px;">Denver</div>
        <div class="city" style="left: 300px; top: 350px;">El Paso</div>
        <div class="city" style="left: 420px; top: 360px;">Houston</div>
        <div class="city" style="left: 450px; top: 250px;">Kansas City</div>
        <div class="city" style="left: 200px; top: 250px;">Las Vegas</div>
        <div class="city" style="left: 450px; top: 300px;">Little Rock</div>
        <div class="city" style="left: 150px; top: 300px;">Los Angeles</div>
        <div class="city" style="left: 620px; top: 450px;">Miami</div>
        <div class="city" style="left: 750px; top: 100px;">Montreal</div>
        <div class="city" style="left: 540px; top: 320px;">Nashville</div>
        <div class="city" style="left: 500px; top: 380px;">New Orleans</div>
        <div class="city" style="left: 700px; top: 200px;">New York</div>
        <div class="city" style="left: 420px; top: 300px;">Oklahoma City</div>
        <div class="city" style="left: 250px; top: 350px;">Phoenix</div>
        <div class="city" style="left: 600px; top: 200px;">Pittsburgh</div>
        <div class="city" style="left: 100px; top: 100px;">Portland</div>
        <div class="city" style="left: 670px; top: 250px;">Raleigh</div>
        <div class="city" style="left: 200px; top: 200px;">Salt Lake City</div>
        <div class="city" style="left: 100px; top: 250px;">San Francisco</div>
        <div class="city" style="left: 320px; top: 300px;">Santa Fe</div>
        <div class="city" style="left: 550px; top: 100px;">Sault St. Marie</div>
        <div class="city" style="left: 100px; top: 50px;">Seattle</div>
        <div class="city" style="left: 480px; top: 250px;">St. Louis</div>
        <div class="city" style="left: 650px; top: 150px;">Toronto</div>
        <div class="city" style="left: 50px; top: 50px;">Vancouver</div>
        <div class="city" style="left: 680px; top: 250px;">Washington</div>
        <div class="city" style="left: 400px; top: 100px;">Winnipeg</div>
    </div>
</body>
</html>
